* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans KR', -apple-system, 'Roboto', Arial, 'Noto Serif KR', sans-serif, system-ui,
		BlinkMacSystemFont;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
